# =========================================
# DATA FILES (never push datasets)
# =========================================
*.csv
*.xlsx
*.parquet
*.json

# CRM specific datasets
02_CRM_Analytics/my_crm_practice/datasets/

# =========================================
# IGNORE SPECIFIC CRM SCRIPTS
# =========================================
02_CRM_Analytics/customer_analytics_crm/src/1-rfm_analysis.py
02_CRM_Analytics/customer_analytics_crm/src/2-cltv.py
02_CRM_Analytics/customer_analytics_crm/src/3-cltv_prediction.py

# =========================================
# PYTHON
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# =========================================
# JUPYTER
# =========================================
.ipynb_checkpoints/

# =========================================
# IDE
# =========================================
.idea/
.vscode/

# =========================================
# OS
# =========================================
.DS_Store
Thumbs.db