# =========================================
# DATA FILES (never push datasets)
# =========================================
*.csv
*.xlsx
*.parquet
*.json

# CRM specific datasets
02_CRM_Analytics/my_crm_practice/datasets/

# =========================================
# IGNORE SPECIFIC CRM SCRIPTS
# =========================================
02_CRM_Analytics/customer_analytics_crm/src/1-rfm_analysis.py
02_CRM_Analytics/customer_analytics_crm/src/2-cltv.py
02_CRM_Analytics/customer_analytics_crm/src/3-cltv_prediction.py

# =========================================
# Measurement Problems Project Rules
# =========================================

# Ignore all scripts in measurement project
03_Measurement_Problems/measurement_problems_project/src/*.py

# Allow only specific files
!03_Measurement_Problems/measurement_problems_project/src/7-AB_Testi.py
!03_Measurement_Problems/measurement_problems_project/src/8-rating_sorting_amazon.py

# =========================================
# Recommendation System Project
# =========================================

# ignore datasets
04_Recommendation_Systems/recommendation_systems_project/datasets/

# ignore all python files
04_Recommendation_Systems/recommendation_systems_project/src/*.py

# allow only selected files
!04_Recommendation_Systems/recommendation_systems_project/src/7-arl_recommender.py
!04_Recommendation_Systems/recommendation_systems_project/src/8-hybrid_recommender.py
!04_Recommendation_Systems/recommendation_systems_project/src/9-arl_recommender_system.py

# Ignore datasets
03_Measurement_Problems/measurement_problems_project/datasets/

# =========================================
# PYTHON
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# =========================================
# JUPYTER
# =========================================
.ipynb_checkpoints/

# =========================================
# IDE
# =========================================
.idea/
.vscode/

# =========================================
# OS
# =========================================
.DS_Store
Thumbs.db